h1 {
    text-align: center;
    margin: 0;
    padding: 30px 0;    
    color: rgb(196, 236, 14);
    text-shadow: 1px 3px 1px black;
    font-size: 30px;
}
h2 {
    display: flex;
    justify-content: center;
    color: white;
}
select {
    display: inline-block;
    width: 100px;
    height: 34px;
    left: 12%;
    line-height: 10px;
    position: relative;
}
textarea {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    line-height: 10px;
}
html {
    font-size: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:rgba(216, 0, 0, 0.726); 
}

form {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background: rgb(226, 241, 156);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    border: 2px solid green;
  }
  button {
    background: rgb(10, 153, 74); /* Цвет фона */
    border: 1px solid oldlace; /* Параметры рамки */
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
   }
